body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  
  body.light-mode a.logo {
    -webkit-filter: invert(1);
            filter: invert(1);
    background: url("/Assets/logo.jpeg") center no-repeat;
    background-size: cover;
  }
  
  body.light-mode .butn {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  
  body.light-mode .socials i {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  
  body.light-mode .imgpart {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.034)), to(#fff)), url("/Assets/abc.jpeg") center no-repeat;
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0.034), #fff), url("/Assets/abc.jpeg") center no-repeat;
    background-size: cover;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  
  body.light-mode .email {
    -webkit-filter: invert(1);
            filter: invert(1);
    background-color: gray;
    color: black;
  }
  
  body.light-mode .email::-webkit-input-placeholder {
    color: #000000;
  }
  
  body.light-mode .email:-ms-input-placeholder {
    color: #000000;
  }
  
  body.light-mode .email::-ms-input-placeholder {
    color: #000000;
  }
  
  body.light-mode .email::placeholder {
    color: #000000;
  }
  
  body.light-mode .imag {
    opacity: .8;
  }
  
  nav {
    background-color: transparent;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 3rem;
    position: fixed;
    z-index: 999;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  nav a.logo {
    height: 4rem;
    width: 4rem;
    color: transparent;
    background: url("/Assets/Icon.png") center no-repeat;
    background-size: cover;
  }
  
  nav a.logo img {
    height: 100%;
  }
  
  nav i {
    font-size: 1.5rem;
    color: white;
    padding-right: 7rem;
    cursor: pointer;
  }
  
  .body-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .imgpart {
    width: 60%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 14, 14, 0.041)), to(black)), url("/Assets/istockphoto-1152537185-612x612.jpg") center no-repeat;
    background: linear-gradient(-180deg, rgba(14, 14, 14, 0.041), black), url("/Assets/istockphoto-1152537185-612x612.jpg") center no-repeat;
    background-size: cover;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .text-part {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 93vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: flex-end;
        -ms-flex-pack: flex-end;
            justify-content: flex-end;
    padding-right: 1rem;
    padding-left: 2rem;
    background-color: #000000;
  }
  
  .text-wrapper {
    width: 100%;
  }
  
  .imag {
    width: 40%;
    margin-left: auto;
    padding-right: 6.5rem;
    margin-top: 1rem;
    opacity: .2;
  }
  
  .imag img {
    width: 100%;
  }
  
  h1.const {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    font-family: 'montserrat';
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 3rem;
  }
  
  p.sub {
    width: 95%;
    font-size: .7rem;
    color: white;
    font-weight: 500;
    font-family: 'montserrat';
    line-height: 150%;
  }
  
  .inputbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1.5rem 0;
    width: 70%;
    position: relative;
  }
  
  .email {
    width: 100%;
    height: 3rem;
    background-color: white;
    font-size: .9rem;
    color: gray;
    font-weight: 500;
    border-radius: 5px;
    outline: 0;
    border: 0;
    padding: 0 2rem;
  }
  
  .butn {
    background-color: #f84b81;
    color: white;
    border-radius: 20px;
    padding: 0 1rem;
    height: 2.5rem;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    outline: 0;
    border: 0;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    left: 63%;
    cursor: pointer;
    -webkit-transition: .4s ease;
    transition: .4s ease;
  }
  
  .butn:hover {
    -webkit-transform: scale(1.02) translateX(-8px);
            transform: scale(1.02) translateX(-8px);
  }
  
  footer {
    height: 3.2rem;
    background-color: black;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .socials a {
    color: transparent;
  }
  
  .socials a i {
    font-size: .8rem;
    color: white;
    background-color: #f84b81;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-left: .8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .socials a:hover {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-transition: .2s ease;
    transition: .2s ease;
  }
  
  p.stay {
    font-size: .8rem;
    color: white;
    font-weight: 500;
    font-family: 'montserrat';
  }
  
  .light-mode {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  
  @media screen and (max-width: 768px) {
    .body-wrapper {
      position: relative;
    }
    nav {
      z-index: 10;
      padding: 1rem .5rem;
    }
    nav i {
      font-size: .8rem;
      padding-right: 2rem;
    }
    .imgpart {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -2;
    }
    .text-part {
      z-index: 5;
      width: 100%;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 0;
    }
    h1.const {
      text-align: center;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 3rem auto 2rem;
    }
    .inputbtn {
      width: 80%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .email {
      width: 80%;
      margin: auto;
    }
    .butn {
      position: unset;
      margin: 1rem auto;
      width: 10rem;
    }
    p.sub {
      text-align: center;
      margin: 0 auto 2rem;
      width: 80%;
    }
    .imag {
      width: 40%;
      margin: 0 auto;
      padding: 0;
    }
    .imag img {
      margin: 0 auto;
    }
  }
  /*# sourceMappingURL=style.css.map */